/* -----------------------------------------
   Foundation Styles Overrides
----------------------------------------- */

header, nav, article, footer, address,
section, aside, hgroup, figure{
	display: block;
}

body, div, dl, dt, dd, ul, ol, li, pre,
form, fieldset, p, blockquote, th, td {
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

iframe {
    left: 0;
    border: none!important;
}

a{
}

a:hover, a:focus{
}

.inv{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hidden{
	display: none!important;
	visibility: hidden!important;
}

img{
    border: none;
}

strong {
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
}

table {
    font-size: inherit;
    float: left;
    border-spacing: 0!important;
    border-collapse: collapse!important;
}

td{
    text-align: center;
	padding: 5px;
}

.clearBoth{
    clear: both;
}

[class*="column"] + [class*="column"]:last-child {
	float: left;
}

.hidden{
    display: none;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.contain-to-grid {
    background: none transparent;

    &.fixed {
        background-color: $white-color;
    }
}

.button {
    letter-spacing: 1px;
    font-family: $alt-font-family;

    &.hollow {
        background-color: $white-color;
        color: $dark-green;
        border: 1px solid $dark-green;
        border-radius: 4px;

        &:hover,
        &:focus {
            color: $white-color;
            background-color: $dark-green;
        }
    }
}

/*-------------------------------------------
    Website Body / Backgrounds
  -----------------------------------------*/

body {
	min-height: 100%;
	width: 100%;
    background: url("../images/site_assets/body-bg-mobile.jpg") 0 0 repeat $black-color;
}

.superWrapper{
    width: 100%;
	min-height: 100%;
    min-width: 320px;
}

.wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.pageContents{
	min-height: 300px;
}

.contents-row {
    background-color: $white-color;
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(20);
}

.spaced-row{
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(30);
}


/*-------------------------------------------
    Website Logo / Header
  -----------------------------------------*/

header{
    overflow: visible;
    position: relative;
    background-color: $white-color;
    margin-bottom: rem-calc(60);

    &::before {
        background-color: $dark-green;
        content: "";
        display: block;
        height: 7px;
        position: fixed;
        width: 100%;
        z-index: 98;
        top: 0;
        left: 0;
    }

    &::after {
        background: $dark-green none repeat scroll 0 0;
        content: "";
        display: block;
        height: $topbar-height;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 96;
    }

    .header {
        position: relative;
        z-index: 97;
    }

	#logo{
        float: left;
		position: relative;
		z-index: 97;
        max-width: 25%;

		.logo{
			float: left;
			display: block;
			margin: 0;
            position: relative;

            &::after {
                border-right: $topbar-height/2 solid transparent;
                border-bottom: $topbar-height solid $white-color;
                content: "";
                display: block;
                height: $topbar-height;
                width: $topbar-height/2;
                position: absolute;
                top: 0;
                right: -$topbar-height/2;
            }
		}

		a{
			display: block;
            background-color: $white-color;
			width: 144px;
            max-width: 100%;
            overflow: hidden;
            transition: all $topbar-transition-speed linear 0s;

			&:hover{

                img{
                    transform: rotate(-8deg);
                }
			}

			img{
				display: block;
				max-width: 100%;
                transition: all $topbar-transition-speed linear 0s;
			}
		}
	}

    .fixed {

        &::after {
            background: $dark-green none repeat scroll 0 0;
            content: "";
            display: block;
            height: $topbar-height;
            position: fixed;
            right: 0;
            top: 0;
            width: 50%;
            z-index: 96;
        }

        #logo {

            a {
                margin-top: 3px;
                width: 104px;
            }
        }

        .top-bar-section,
        .title-area {
            z-index: 97;
        }

        h3 {
            font-size: rem-calc(14);
            padding: rem-calc(14) rem-calc(20);
        }
    }

    h3 {
        display: block;
        clear: right;
        font-size: rem-calc(16);
        padding: rem-calc(28) rem-calc(20);
        margin: 0;
        max-width: 75%;
        text-align: right;
    }
}

.f-topbar-fixed {

    header {
        margin-bottom: rem-calc(160);

        &::after {
            display: none;
        }
    }
}

/*-------------------------------------------
    Navigation Menu Styles
  -----------------------------------------*/

.top-bar {
	margin: 0;
    overflow: visible!important;

    &.expanded {
        background-color: transparent;
        height: $topbar-height!important;
    }

    .menu {

        li{
            border-left: 1px solid darken($dark-green, 5%);

            &:first-child{
                border: none;
            }
        }

        a {
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: all $topbar-transition-speed linear 0s;
        }
    }

    &.expanded {
        background-color: $dark-green;
    }

    .menu-icon {
        font-family: $alt-font-family;
        letter-spacing: 1px;

        span {
            padding-right: rem-calc(8);
        }
    }
}

.left-off-canvas-menu {

    li{
        position: relative;
    }

    ul.off-canvas-list li label{
        font-size: rem-calc(18);
        font-family: $alt-font-family;
        border-bottom: $off-canvas-link-border-bottom;
        letter-spacing: 1px;
    }

    a {
        font-size: rem-calc(14);
        font-family: $alt-font-family;

        &.exit-off-canvas{
            position: relative;
            box-shadow: none;
            background-color: $dark-green;

            &:hover,
            &:focus {
                background-color: darken($dark-green, 5%);
            }
        }
    }
}

/*-------------------------------------------
    Orbit Slideshow
  -----------------------------------------*/

.bannerSlide{
	z-index: 1;

	&.active{
		z-index: 2;
	}
}

/*-------------------------------------------
    Homepage Page styles
  -----------------------------------------*/

.featured-content-row {

    .slider-row {
        background-color: $white-color;
        padding: $column-gutter 0;
    }

    .slider-navigation {
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 90;

        dd {
            position: relative;
            margin: 0;

            &:first-child{
                border: none;
            }

            a {
                margin: 0;
                color: $white-color;

                &.active,
                &:hover {
                    background-color: darken($dark-green, 5%);
                }
            }
        }
    }

    .featured-content {
        list-style: none;
        margin: 0;
    }
}

/*-------------------------------------------
    Generic Page styles
  -----------------------------------------*/

.contents-row {

    .panel {

        h3,
        h4 {
            color: $dark-green;
        }


        legend {
            color: $dark-green;
            font-family: $alt-font-family;
            letter-spacing: 1px;
        }

        img {
            width: 100%;
        }
    }
}

.pricing-table .title {
    letter-spacing: 1px;
}

.accordion-column {
    display: none;
    overflow: hidden;
    width: 100%!important;
}

.accordion-navigation {

    > a {
        letter-spacing: 1px;

        &:after {
            content: "\25BC";
            padding-left: 5px;
            float: right;
            font-size: 20px;
        }
    }

    &.active > a:after {
        content: "\25B2";
    }
}

.no-js {

    .accordion-column {
        display: inherit!important;
    }
}

.visibleToggler {
}

textarea {
    resize: vertical;
}

/* -----------------------------------------
	Pagination
----------------------------------------- */

.paginationHolder {
	margin-top: rem-calc(30);

	ul{
		text-align: center;

		li{
			float: none;
			display: inline-block;
			height: auto;
			margin: 4px 0;

			a {
				color: $white-color;
				font-size: rem-calc(12);
				letter-spacing: 1px;
				line-height: 1.4;
				font-family: $alt-font-family;
				background: none #ccc;

				&:hover, &:focus {
					color: $white-color;
					background: none $primary-color;
				}
			}

			&.current{

				a{
					color: $white-color;
					background: none $main-green;
					font-weight: normal;

					&:hover, &:focus {
						color: $white-color;
						background: none $dark-gray-color;
					}
				}
			}
		}
	}
}

/* -----------------------------------------
   Sitemap page
----------------------------------------- */

.sitemapList ul{
}

.sitemapList li{
}

.sitemapList a, .sitemapList .separator{
}

.sitemapList ul ul li a{
}

/* -----------------------------------------
   Google Map
----------------------------------------- */

#map_canvas {
    width: 95%;
    height: 100%;
    float: left;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */
footer {
    background-color: $dark-green;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
    margin-top: rem-calc(60);

    .inline-list a {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        background-color: darken($dark-green, 5%);
        border-radius: 2px;
        font-size: 1.5rem;
        color: $white-color;
        text-align: center;
        line-height: 35px;
        margin: 0 3px 0 0;
    }

    .contact {
        list-style-type: none;
        margin: 0;
        text-align: left;
        color: #fff;

        li {
            margin-bottom: 2rem;

            p {
                padding-left: 5rem;
                margin-bottom: 8px;
            }
        }

        i {
            position: absolute;
            background-color: darken($dark-green, 5%);
            color: #fff;
            font-size: 2rem;
            border-radius: 50%;
            line-height: 1;
            margin: 0 0 0 -4rem;
            vertical-align: middle;
            padding: .25em .45em;
        }

        > i {
            margin-right: 1rem;
        }

        a {
            color: $white-color;
            transition: all $topbar-transition-speed linear 0s;

            &:hover {
                color: $white-color;
                background-color: darken($dark-green, 10%);
                text-decoration: underline;
            }
        }
    }

    .copywrite {
        font-size: 0.875rem;
        margin: 0 0 1rem 0;
        color: $white-color;
    }

    .about {
        font-size: 0.875rem;
        margin: 0 0 1rem 0;
        color: $white-color;
    }

    .footer-links a {
        list-style: none;
        font-weight: normal;
        color: $white-color;
        padding: 3rem 0 2rem;
        margin: 0;
        font-size: 0.875rem;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &::after {
            content: "\2022";
            padding: 0 0.2rem 0 0.4rem;
        }

        &:last-child::after {
            content: "";
            padding: 0 0.4rem 0 0.8rem;
        }
    }

    .social {
        text-align: center;
        margin: 0;
    }

    .logo {
        color: $white-color;
    }
}

/* ---------------------------------------------------
   Media Queries for mobile / tablets responsiveness
----------------------------------------------------- */

@media #{$small-up} {

    html {
        font-size: 12px;
    }
}

@media #{$small-only} {

    .slider-navigation {
        text-align: center;
        background-color: $dark-green;

        dd {
            display: inline-block;
            float: none;

            a.button.small {
                padding-left: rem-calc(14);
                padding-right: rem-calc(14);
            }
        }
    }
}

@media #{$medium-down} {

    header{

        #logo,
        .fixed #logo {

            a{
                margin-top: 3px;
                width: 92px;
            }
        }

        h3 {
            font-size: rem-calc(14);
            padding: rem-calc(14) rem-calc(20);

            span {
                display: none;
            }
        }
    }
}

@media #{$medium-up} {

    html {
        font-size: 14px;
    }

    .featured-content-row {

        .orbit-container {
            margin-top: -43px;
        }

        .slider-navigation {
            padding: 0 44px;

            dd {
                border-left: 1px solid darken($dark-green, 5%);

                &:first-child{

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: rem-calc(-42);
                        border-left: rem-calc(44) solid transparent;
                        border-top: rem-calc(47) solid $dark-green;
                        height: rem-calc(44);
                        width: rem-calc(24);
                    }
                }

                &:last-child {

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        right: rem-calc(-42);
                        border-right: rem-calc(44) solid transparent;
                        border-top: rem-calc(47) solid $dark-green;
                        height: rem-calc(44);
                        width: rem-calc(24);
                    }
                }
            }
        }
    }
}

@media #{$medium-only} {

    .featured-content-row {

        .orbit-container {
            margin-top: -39px;
        }
    }

}

@media #{$large-up} {

    html {
        font-size: $rem-base;
    }

    body {
        background: url("../images/site_assets/body-bg.jpg") 50% 60px no-repeat $black-color;
        background-size: cover;
        background-attachment: fixed;
    }

    .featured-content-row {

        .slider-row {

            p {
                margin: 0;
            }

            .button {
                margin: rem-calc(14) 0 0 0;
            }
        }
    }
}

@media #{$large-only} {

}

@media print {

    div:not(.reveal-modal) {
        display: inherit !important;
    }
}
