.paginationHolder ul li.current a:hover,
.paginationHolder ul li.current a:focus {
  color: #ffffff;
  background: none #515151;
}

/* -----------------------------------------
   Sitemap page
----------------------------------------- */

/* -----------------------------------------
   Google Map
----------------------------------------- */

#map_canvas {
  width: 95%;
  height: 100%;
  float: left;
}

/* -----------------------------------------
   Footer Styles
----------------------------------------- */

footer {
  background-color: #0c6d28;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  margin-top: 3.75rem;
}

footer .inline-list a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #095620;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin: 0 3px 0 0;
}

footer .contact {
  list-style-type: none;
  margin: 0;
  text-align: left;
  color: #fff;
}

footer .contact li {
  margin-bottom: 2rem;
}

footer .contact li p {
  padding-left: 5rem;
  margin-bottom: 8px;
}

footer .contact i {
  position: absolute;
  background-color: #095620;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1;
  margin: 0 0 0 -4rem;
  vertical-align: middle;
  padding: .25em .45em;
}

footer .contact > i {
  margin-right: 1rem;
}

footer .contact a {
  color: #ffffff;
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

footer .contact a:hover {
  color: #ffffff;
  background-color: #073f17;
  text-decoration: underline;
}

footer .copywrite {
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  color: #ffffff;
}

footer .about {
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  color: #ffffff;
}

footer .footer-links a {
  list-style: none;
  font-weight: normal;
  color: #ffffff;
  padding: 3rem 0 2rem;
  margin: 0;
  font-size: 0.875rem;
}

footer .footer-links a:hover,
footer .footer-links a:focus {
  text-decoration: underline;
}

footer .footer-links a::after {
  content: "\2022";
  padding: 0 0.2rem 0 0.4rem;
}

footer .footer-links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem;
}

footer .social {
  text-align: center;
  margin: 0;
}

footer .logo {
  color: #ffffff;
}

/* ---------------------------------------------------
   Media Queries for mobile / tablets responsiveness
----------------------------------------------------- */

@media only screen {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 40em) {
  header #logo a,
  header .fixed #logo a {
    margin-top: 3px;
    width: 92px;
  }

  header h3 {
    font-size: 0.875rem;
    padding: 0.875rem 1.25rem;
  }

  header h3 span {
    display: none;
  }

  .slider-navigation {
    text-align: center;
    background-color: #0c6d28;
  }

  .slider-navigation dd {
    display: inline-block;
    float: none;
  }

  .slider-navigation dd a.button.small {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }
}

@media only screen and (min-width: 40.063em) {
  html {
    font-size: 14px;
  }

  .featured-content-row .orbit-container {
    margin-top: -43px;
  }

  .featured-content-row .slider-navigation {
    padding: 0 44px;
  }

  .featured-content-row .slider-navigation dd {
    border-left: 1px solid #095620;
  }

  .featured-content-row .slider-navigation dd:first-child::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -2.625rem;
    border-left: 2.75rem solid transparent;
    border-top: 2.9375rem solid #0c6d28;
    height: 2.75rem;
    width: 1.5rem;
  }

  .featured-content-row .slider-navigation dd:last-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -2.625rem;
    border-right: 2.75rem solid transparent;
    border-top: 2.9375rem solid #0c6d28;
    height: 2.75rem;
    width: 1.5rem;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .featured-content-row .orbit-container {
    margin-top: -39px;
  }
}

@media only screen and (min-width: 64.063em) {
  html {
    font-size: 16px;
  }

  body {
    background: url("../images/site_assets/body-bg.jpg") 50% 60px no-repeat #000000;
    background-size: cover;
    background-attachment: fixed;
  }

  .featured-content-row .slider-row p {
    margin: 0;
  }

  .featured-content-row .slider-row .button {
    margin: 0.875rem 0 0 0;
  }
}

@media print {
  div:not(.reveal-modal) {
    display: inherit !important;
  }
}

/*# sourceMappingURL=styles.css.map */