---
title: About PAO Basketball Academy
siteURL: http://www.paobasketball.co.uk
pageURL: /about-academy.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    About PAO Basketball Academy
                                </h3>
                                <p>
                                    As one of the top clubs in Europe and wanting to secure our future, Panathinaikos
                                    are investing in the development of new talent with the best conditions to show off
                                    their talent, learn solid foundations of the game and love basketball.
                                </p>
                                <p>
                                    Our academies are an inspired unit with specialized coaches and partners for new players
                                    and also provide a comprehensive program of benefits for our members, matching the
                                    standards of the main academies around the world, according to the vision of Panathinaikos Basketball.
                                </p>
                                <p>
                                    Our main objective is to lay the foundations of a new generation of athletes and fans
                                    with values ​​and inviolable principles. The culture of sports and basketball culture,
                                    cooperation and sportsmanship, along with the entertainment of our athletes is our
                                    non-negotiable objective.
                                </p>
                                <p>
                                    We believe that sports particularly basketball is an opportunity for relationship
                                    building. Through basketball children learn to compete in healthy conditions, where
                                    victory and defeat are part of the game and acquire values ​​and principles that will
                                    provide supplies, not only on their way to the basket, but also more generally in their
                                    lives.
                                </p>
                                <p>
                                    Through systematic training with our staff and coaches, PAO Basketball Academy seeks
                                    to promote the olympic spirit that should inspire young people as athletes and as
                                    members of a society, but also to create the leading basketball academy in Europe.
                                </p>
                                <h4>
                                    PAO Basketball Academy Characteristics
                                </h4>
                                <ul>
                                    <li>
                                        Experienced coaching team, specialized in infrastructure segments
                                    </li>
                                    <li>
                                        Training under the auspices of the men's team coaches
                                    </li>
                                    <li>
                                        Training in two modern indoor courts
                                    </li>
                                    <li>
                                        Presence of a doctor throughout the duration of training sessions and competitions
                                    </li>
                                    <li>
                                        Small groups to offer our athletes the best training conditions
                                    </li>
                                    <li>
                                        Cooperation with physiotherapist specializing in sports
                                    </li>
                                    <li>
                                        Working with a nutritionist specializing in sports
                                    </li>
                                    <li>
                                        Cooperation with psychologist specializing in sport
                                    </li>
                                    <li>
                                        Progress Control system every athlete
                                    </li>
                                    <li>
                                        Visits of distinguished athletes, coaches and recognized strains of basketball
                                        to advise and share their experiences with children
                                    </li>
                                </ul>
                            </div>
                            <div class="large-12 columns">
                                <div class="panel photo-gallery">
                                    <div class="row">
                                        <div class="large-3 medium-3 small-6 columns">
                                            <a href="/images/site_assets/8.jpg" target="_blank" data-reveal-id="photoModal">
                                                <img src="/images/site_assets/8.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="large-3 medium-3 small-6 columns">
                                            <a href="/images/site_assets/19.jpg" target="_blank" data-reveal-id="photoModal">
                                                <img src="/images/site_assets/19.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="large-3 medium-3 small-6 columns">
                                            <a href="/images/site_assets/21.jpg" target="_blank" data-reveal-id="photoModal">
                                                <img src="/images/site_assets/21.jpg" alt="" />
                                            </a>
                                        </div>
                                        <div class="large-3 medium-3 small-6 columns">
                                            <a href="/images/site_assets/1st-Panathinaikos-World--Basketball--Youth-Cup.jpg" target="_blank" data-reveal-id="photoModal">
                                                <img src="/images/site_assets/1st-Panathinaikos-World--Basketball--Youth-Cup.jpg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="large-12 columns">
                                <h3>
                                    Academy's Operation
                                </h3>
                                <h4>
                                    Online  Management program
                                </h4>
                                <p><strong>Academy</strong></p>
                                <ul>
                                    <li>Create and manage database of athletes</li>
                                    <li>Organize the various teams of the academy</li>
                                    <li>Record somatometric statistics, evaluations of performance and other useful data of athletes</li>
                                    <li>Keep financial data of subscriptions and attendance of training sessions</li>
                                    <li>Additional information about training, coaching and special techniques</li>
                                </ul>
                                <p><strong>Parents</strong></p>
                                <ul>
                                    <li>Monitor the progress of their children</li>
                                    <li>Updates on their financial status</li>
                                    <li>Keep track of the attendance, performance and development of their child</li>
                                    <li>Direct communication with the coaching staff and the academy</li>
                                    <li>Constant updates on tournaments, tryouts and other official events</li>
                                </ul>
                                <p><strong>Panathinaikos</strong></p>
                                <ul>
                                    <li>Database with full details of all athletes</li>
                                    <li>Ranking of athletes depending on their age and position</li>
                                    <li>Scouting of talented athletes based on their recorded data and performance</li>
                                    <li>Simple and centralized management of the Network</li>
                                    <li>Continuous communication with academy and parents of athletes</li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
