---
title: Coaching & Tournaments
siteURL: http://www.paobasketball.co.uk
pageURL: /coaching.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Coaching
                                </h3>
                                <div class="row">
                                    <div class="columns large-12">
                                        <div class="row">
                                            <div class="columns large-3 medium-3 small-3">
                                                <p class="photo-gallery">
                                                    <a href="/images/site_assets/Argyris_Panathinaikos-profile.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/Argyris_Panathinaikos-profile.jpg" alt="Argyris Psychogyios" />
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="columns large-9 medium-9 small-9">
                                                <h4>Head Coach</h4>
                                                <p>
                                                    <strong>Argyris Psychogyios</strong>
                                                </p>
                                                <p>
                                                    After his period as a player in basketball clubs in Athens and Thessaloniki,
                                                    Argyris is getting involved in PAO Basketball Academy London and is the head coach
                                                    of the U12's team. He is responsible for implementing the Panathinaikos methodology
                                                    into the academy.
                                                </p>
                                                <p>
                                                    Argyris has more than 20 years experience in basketball, having coached young and
                                                    adult teams in Greece and in the UK.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3>
                                    Tournaments
                                </h3>
                                <div class="row">
                                    <div class="columns large-12">
                                        <div class="row">
                                            <div class="columns large-3 medium-3 small-3">
                                                <p class="photo-gallery">
                                                    <a href="/images/site_assets/1st-Panathinaikos-World--Basketball--Youth-Cup.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/1st-Panathinaikos-World--Basketball--Youth-Cup.jpg" alt="1st Panathinaikos World Basketball Youth Cup" />
                                                    </a>
                                                </p>
                                            </div>
                                            <div class="columns large-9 medium-9 small-9">
                                                <h4>
                                                    1st Panathinaikos World Basketball Youth Cup
                                                </h4>
                                                <p>
                                                    The academy team will be participating in the 1st Panathinaikos World Basketball Youth
                                                    Cup. The event will take place on 4-10 July 2016 in the historical indoor sports hall
                                                    “Pavlos Giannakopoulos” in Athens.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Venue</h5>
                                <p>
                                    The historical indoor sports hall “Pavlos Giannakopoulos” is located under the east curve
                                    of “Apostolos Nikolaidis” Stadium, home of Panathinaikos FC and the oldest football stadium
                                    in Greece still active. It is situated in the Ambelokipi district of Athens, east of the
                                    Lycabettus Hill and on Alexandras Avenue. “Pavlos Giannakopoulos” venue was the first
                                    indoor hall in Greece with a capacity of 1.500 and it is famous for the hot atmosphere
                                    Panathinaikos fans create in it.
                                </p>
                                <p>
                                    Panathinaikos obtained 14 Greek Championships from 1961 to 1984 in this venue and used
                                    it for home games until 1992. Famous Greek and Foreign Players have played under its
                                    roof. It is the traditional home of Panathinaikos Athletic Club academies.
                                </p>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="panel photo-gallery">
                                            <div class="row">
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/pao_tafosindou.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/pao_tafosindou.jpg" alt="Pavlos Giannakopoulos indoor sports hall" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/700021.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/700021.jpg" alt="Pavlos Giannakopoulos indoor sports hall" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/tafos-indou.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/tafos-indou.jpg" alt="Pavlos Giannakopoulos indoor sports hall" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/full-court.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/full-court.jpg" alt="Pavlos Giannakopoulos indoor sports hall" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Date, Age Groups & Format</h5>
                                <p>
                                    <strong>Date:</strong>
                                    <br/>The Cup will start on Monday 4<sup>th</sup> of July 10:00am and end on Sunday
                                    10<sup>th</sup> of July at 14:00pm.
                                </p>
                                <p>
                                    <strong>Age Groups:</strong>
                                    <br/>There will be 2 different age groups, one for players born on 2001-2002 and the other
                                    for players born on 2003-2004. Younger players will be allowed, older players only
                                    upon discussion.
                                </p>
                                <p>
                                    <strong>Format:</strong>
                                    <br/>There will be 1 group for each age category. Every team will compete with another once,
                                    to get the standings of the group. All the teams will advance and form new groups
                                    according to their final position, for example: For a group of 8 teams, teams 1-4
                                    will form a new group and teams 5-8 another. Everyone will play against each other
                                    once to get the final standings of the tournament and the winner of each age category.
                                </p>
                                <div class="row">
                                    <div class="large-12 columns">
                                        <div class="panel photo-gallery">
                                            <div class="row">
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/4.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/4.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/6.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/6.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/13.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/13.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/19.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/19.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/9.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/9.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/11.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/11.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/888.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/888.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="large-3 medium-3 small-6 columns">
                                                    <a href="/images/site_assets/3454.jpg" target="_blank" data-reveal-id="photoModal">
                                                        <img src="/images/site_assets/3454.jpg" alt="" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>
                                    Benefits:
                                </h5>
                                <ul>
                                    <li>Every team will play at least 6 official matches</li>
                                    <li>The games will be professionally organized with official referees and scorekeepers</li>
                                    <li>
                                        All participants will get: The tournament t-shirt, a small Panathinaikos banner
                                        certificate of participation, medal
                                    </li>
                                    <li>Post event video</li>
                                    <li>Cups for the winners</li>
                                    <li>Scouting of young players</li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
