---
title: Coaching & Tournaments
siteURL: http://www.paobasketball.co.uk
pageURL: /coaching.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Coaching
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.
                                </p>
                                <h3>
                                    Tournaments
                                </h3>
                                <h4>
                                    1st Panathinaikos World Basketball Youth Cup
                                </h4>
                                <p>
                                    The academy team will be participating in the 1st Panathinaikos World Basketball Youth
                                    Cup. The event will take place on 4-10 July 2016 in the historical indoor sports hall
                                    “Pavlos Giannakopoulos” in Athens.
                                </p>
                                <p>
                                    <strong>Venue</strong>
                                </p>
                                <p>
                                    The historical indoor sports hall “Pavlos Giannakopoulos” is located under the east curve
                                    of “Apostolos Nikolaidis” Stadium, home of Panathinaikos FC and the oldest football stadium
                                    in Greece still active. It is situated in the Ambelokipi district of Athens, east of the
                                    Lycabettus Hill and on Alexandras Avenue. “Pavlos Giannakopoulos” venue was the first
                                    indoor hall in Greece with a capacity of 1.500 and it is famous for the hot atmosphere
                                    Panathinaikos fans create in it.
                                </p>
                                <p>
                                    Panathinaikos obtained 14 Greek Championships from 1961 to 1984 in this venue and used
                                    it for home games until 1992. Famous Greek and Foreign Players have played under its
                                    roof. It is the traditional home of Panathinaikos Athletic Club academies.
                                </p>
                                <p>photos of venue</p>
                                <p>
                                    <strong>Date, Age Groups & Format</strong>
                                </p>
                                <p>
                                    Date:
                                    <br/>The Cup will start on Monday 4<sup>th</sup> of July 10:00am and end on Sunday
                                    10<sup>th</sup> of July at 14:00pm.
                                </p>
                                <p>
                                    Age Groups:
                                    <br/>There will be 2 different age groups, one for players born on 2001-2002 and the other
                                    for players born on 2003-2004. Younger players will be allowed, older players only
                                    upon discussion.
                                </p>
                                <p>
                                    Format:
                                    <br/>There will be 1 group for each age category. Every team will compete with another once,
                                    to get the standings of the group. All the teams will advance and form new groups
                                    according to their final position, for example: For a group of 8 teams, teams 1-4
                                    will form a new group and teams 5-8 another. Everyone will play against each other
                                    once to get the final standings of the tournament and the winner of each age category.
                                </p>
                                <p>
                                    Benefits:
                                </p>
                                <ul>
                                    <li>Every team will play at least 6 official matches</li>
                                    <li>The games will be professionally organized with official referees and scorekeepers</li>
                                    <li>
                                        All participants will get: The tournament t-shirt, a small Panathinaikos banner
                                        certificate of participation, medal
                                    </li>
                                    <li>Post event video</li>
                                    <li>Cups for the winners</li>
                                    <li>Scouting of young players</li>
                                </ul>
                                <p>photos of children</p>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
