---
title: Facilities & Equipment
siteURL: http://www.paobasketball.co.uk
pageURL: /facilities.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Facilities & Equipment
                                </h3>
                                <p>
                                    PAO Basketball Academy will initially operate both in North and West London as follows:
                                </p>
                                <h5>
                                    Edmonton Leisure Centre in Enfield, North London
                                </h5>
                                <p>
                                    <strong>Address:</strong>
                                    <br />Edmonton Leisure Centre,
                                    <br />2 The Broadway, London
                                    <br />N9 0TR
                                </p>
                                <p>
                                    <a href="/map.html#Edmonton" class="button" title="Routes & directions">Routes & directions</a>
                                </p>
                                <p>
                                    The leisure centre is next to Edmonton Green Shopping Centre and directly opposite
                                    Edmonton Green station on London Overground. The centre operates two indoor
                                    basketball courts are fully equipped, and designed to provide members of the
                                    academy safety and comfort in their workouts.
                                </p>
                                <h5>
                                    Reynolds Sports Centre in Acton, West London
                                </h5>
                                <p>
                                    <strong>Address:</strong>
                                    <br/>Reynolds Sports Centre,
                                    <br/>Gunnersbury Lane, Acton
                                    <br/>W3 8EY
                                </p>
                                <p>
                                    <a href="/map.html#Reynolds" class="button" title="Routes & directions">Routes & directions</a>
                                </p>
                                <p>
                                    Reynolds Sports Centre is located in the grounds of Acton High School. The centre has a 25 station
                                    air conditioned gym featuring the very latest in both cardio and strength equipment along with the
                                    indoor sports hall.
                                </p>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
