---
title: Facilities & Equipment
siteURL: http://www.domainname.com
pageURL: /facilities.html
siteName: PAO BC Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Facilities & Equipment
                                </h3>
                                <p>
                                    Panathinaikos BC Academy operates in the XXXXXXX Facilities at London
                                    just next to the XXXXXX. The two indoor basketball courts are fully equipped and
                                    designed to provide members of the academy safety and comfort in their workouts.
                                </p>
                                <p>
                                    The closed located in XXXX (west borough of London, XX km from the city center).
                                </p>
                                <p>
                                    <a href="/map.html" title="routes & directions to the court">Find routes & directions to the court</a>.
                                </p>

                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
