---
title: PAO
siteURL: http://www.domainname.com
pageURL: /
siteName: Panathinaikos Basketball Academy London

meta_description:
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row">
                            <div class="large-12 columns text-center">
                                <h2>Changing the Basketball Through Teaching</h2>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.</p>
                                <a class="button" title="" href="#">Learn More</a>
                                <a class="button" title="" href="#">Get in touch</a>
                            </div>
                        </div>

                        <div class="row contents-row spaced-row">
                            <div class="large-6 columns">
                                <img class="thumbnail" src="http://placehold.it/750x350">
                            </div>
                            <div class="large-6 columns">
                                <h3>
                                    Our Academy, our method.
                                </h3>
                                <p>
                                    Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.
                                    Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris,
                                    quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum.
                                    Donec viverra auctor.
                                </p>
                            </div>
                        </div>

                        <div class="row contents-row">
                            <div class="large-12 columns">
                                <div class="panel">
                                    <h3>We&rsquo;re stoked you want to try Foundation! </h3>
                                    <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
                                    <p>Once you've exhausted the fun in this document, you should check out:</p>
                                    <div class="row spaced-row">
                                        <div class="large-4 medium-4 columns">
                                            <h4><a href="http://foundation.zurb.com/docs">Foundation Documentation</a></h4>
                                            <p>
                                                <br />Everything you need to know about using the framework.
                                            </p>
                                        </div>
                                        <div class="large-4 medium-4 columns">
                                            <h4><a href="http://github.com/zurb/foundation">Foundation on Github</a></h4>
                                            <p>
                                                <br />Latest code, issue reports, feature requests and more.
                                            </p>
                                        </div>
                                        <div class="large-4 medium-4 columns">
                                            <h4><a href="http://twitter.com/foundationzurb">@foundationzurb</a></h4>
                                            <p>
                                                <br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
