---
title: Panathinaikos Basketball Academy
siteURL: http://www.domainname.com
pageURL: /
siteName: PAO BC Academy London

meta_description:
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row">
                            <div class="large-12 columns text-center">
                                <h2>We invite you to become part of Panathinakos family by joining PAO Basketball Academy!</h2>
                                <p class="lead">
                                    PAO BC World Academy brand new London branch is delighted to announce that applications are open
                                    for children of ages XXXX to join the Academy and become part of one of the top clubs in Europe,
                                    where basketball culture, values, foundations and entertainment aims to form new a generation of athletes.
                                </p>
                                <a class="button" title="" href="#">Register</a>
                                <a class="button" title="" href="#">Learn More</a>
                            </div>
                        </div>

                        <div class="row contents-row spaced-row">
                            <div class="large-8 columns">
                                <img class="thumbnail" src="http://placehold.it/750x350">
                            </div>
                            <div class="large-4 columns">
                                <h3>
                                    Philosophy of the Academy
                                </h3>
                                <p>
                                    Our main objective is to lay the foundations of a new generation of athletes and fans with
                                    values ​​and inviolable principles. The culture of sports and basketball culture, cooperation and sportsmanship,
                                    along with the entertainment of our athletes is our non-negotiable objective.
                                </p>
                                <p>
                                    We believe that sports particularly basketball is an opportunity for relationship building.
                                    Through basketball children learn to compete in healthy conditions, where victory and defeat are
                                    part of the game and acquire values ​​and principles that will provide supplies, not only on their
                                    way to the basket, but also more generally in their lives.
                                </p>
                            </div>
                        </div>

                        <div class="row contents-row">
                            <div class="large-12 columns">
                                    <h3>
                                        We invite you to become part of Panathinakos Basketball family by joining PAO BC Academy!
                                    </h3>
                                    <p>
                                        Not certain that our Basketball Academy is right for you? Then feel free to check out

                                    </p>
                                    <div class="row spaced-row" data-equalizer data-equalizer-mq="large-up">
                                        <div class="large-4 medium-4 columns">
                                            <div class="panel" data-equalizer-watch>
                                                <h4><a href="#" title="Facilities">Facilities & Equipment</a></h4>
                                                <p>
                                                    The indoor basketball court is fully equipped and designed to provide members
                                                    of the academy safety and comfort in their day to day workouts while all required
                                                    equipment is provided by the Academy.
                                                </p>
                                                <a class="button small" title="" href="#">Learn More</a>
                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 columns">
                                            <div class="panel" data-equalizer-watch>
                                                <h4><a href="#" title="">Coaching & Tournaments</a></h4>
                                                <p>
                                                    Experienced coaching team, specialized in infrastructure segments.
                                                    Training under the auspices of the coaches of Panathinaikos men's team & opportunity
                                                    to participate in international tournaments of PAO BC World Academy.
                                                </p>
                                                <a class="button small" title="" href="#">Learn More</a>
                                            </div>
                                        </div>
                                        <div class="large-4 medium-4 columns">
                                            <div class="panel" data-equalizer-watch>
                                                <h4><a href="" title="">Why PAO BC Academy?</a></h4>
                                                <p>
                                                    As one of the top clubs in Europe and wanting to secure our future,
                                                    we are investing in the development of new talent with the best conditions
                                                    to show off their talent, learn solid foundations of the game and love basketball.
                                                </p>
                                                <a class="button small" title="" href="#">Learn More</a>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
