---
title: Academy Member Benefits
siteURL: http://www.paobasketball.co.uk
pageURL: /member-benefits.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---

                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Academy Member Benefits
                                </h3>
                                <p>
                                    Along with registration for the academy, athletes receive the following benefits will
                                    be provided by the academy and their sponsors.
                                </p>
                                <ul>
                                    <li>
                                        Use of our special software that will monitor the progress of the junior players
                                    </li>
                                    <li>
                                        Panathinaikos provides you  the opportunity to participate in the official annual
                                        tournaments in Athens exclusively for members of the Academy as well as to send
                                        talented athletes to the official Panathinaikos try outs once a year
                                    </li>
                                    <li>
                                        A training kit for every athlete that registers to the Academy
                                    </li>
                                    <li>
                                        An annual visit in each country by the technical director of Panathinaikos World
                                        Basketball Academy
                                    </li>
                                    <li>
                                        The right to purchase official Panathinaikos merchandise at special prices
                                        from <a href="https://www.paoshop.gr/" target="_blank" title="PAO SHOP">PAO SHOP</a>
                                    </li>
                                </ul>
                                <h4>
                                    Online  Management program
                                </h4>
                                <p><strong>Academy</strong></p>
                                <ul>
                                    <li>Create and manage database of athletes</li>
                                    <li>Organize the various teams of the academy</li>
                                    <li>Record somatometric statistics, evaluations of performance and other useful data of athletes</li>
                                    <li>Keep financial data of subscriptions and attendance of training sessions</li>
                                    <li>Additional information about training, coaching and special techniques</li>
                                </ul>
                                <p><strong>Parents</strong></p>
                                <ul>
                                    <li>Monitor the progress of their children</li>
                                    <li>Updates on their financial status</li>
                                    <li>Keep track of the attendance, performance and development of their child</li>
                                    <li>Direct communication with the coaching staff and the academy</li>
                                    <li>Constant updates on tournaments, tryouts and other official events</li>
                                </ul>
                                <p><strong>Panathinaikos</strong></p>
                                <ul>
                                    <li>Database with full details of all athletes</li>
                                    <li>Ranking of athletes depending on their age and position</li>
                                    <li>Scouting of talented athletes based on their recorded data and performance</li>
                                    <li>Simple and centralized management of the Network</li>
                                    <li>Continuous communication with sacademy and parents of athletes</li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
