---
title: Academy Member Benefits
siteURL: http://www.domainname.com
pageURL: /member-benefits.html
siteName: PAO BC Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Academy Member Benefits
                                </h3>
                                <p>
                                    Along with registration for the academy, athletes receive the following benefits will
                                    be provided by the academy and their sponsors.
                                </p>
                                <ul>
                                    <li>
                                        Use of our special software that will monitor the progress of the junior players
                                    </li>
                                    <li>
                                        Panathinaikos provides you  the opportunity to participate in the official annual
                                        tournaments in Athens exclusively for members of the Academy as well as to send
                                        talented athletes to the official Panathinaikos try outs once a year
                                    </li>
                                    <li>
                                        A training kit for every athlete that registers to the Academy
                                    </li>
                                    <li>
                                        An annual visit in each country by the technical director of Panathinaikos World
                                        Basketball Academy
                                    </li>
                                    <li>
                                        The right to purchase official Panathinaikos merchandise at special prices
                                        from <a href="https://www.paoshop.gr/" target="_blank" title="PAO SHOP">PAO SHOP</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
