---
title: Academy Member Benefits
siteURL: http://www.domainname.com
pageURL: /member-benefits.html
siteName: PAO BC Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Academy Member Benefits
                                </h3>
                                <p>
                                    Along with registration for the academy, athletes receive a training kit (double face)
                                    of Adidas which will be used in their training and the athlete card with their
                                    photograph in which the following benefits will be provided by the academy
                                    and their sponsors.
                                </p>
                                <p class="small">
                                    *The following benefits apply to the registration of the athlete and the creation
                                    of a membership card, only as long as the athletes remain active and adhere to their
                                    obligations.
                                </p>
                                <ul>
                                    <li>
                                        Free two season tickets for every athlete and guardian for all the A1 games in specially
                                        equipped family port and preferential prices for the European matches.
                                    </li>
                                    <li>
                                        Special Training Seminars young athletes from Microsoft as well as preferential rates
                                        on various products of the company.
                                    </li>
                                    <li>
                                        Cooperation with Hellenic Seaways 30 % discount on tickets for our athletes and his family.
                                    </li>
                                    <li>
                                        Cooperation with Adidas for sports clothing market with 15% discount for all family members.
                                    </li>
                                    <li>
                                        Cooperation with APC Sports Consulting to develop intellectual skills and basic financial
                                        education for athletes.
                                    </li>
                                    <li>
                                        Free Heart Screening for all athletes from the hospital.
                                    </li>
                                    <li>
                                        Discount on all kinds of <a href="https://www.paoshop.gr/" target="_blank" title="PAO SHOP">PAO SHOP</a> with 20% discount.
                                    </li>
                                    <li>
                                        Ergometer and musculoskeletal athletes control, from the age of 2006+ at
                                        regular intervals.
                                    </li>
                                    <li>
                                        Free Pelmatografima for all athletes.
                                    </li>
                                    <li>
                                        Presence of a doctor throughout the duration of training sessions and competitions.
                                    </li>
                                    <li>
                                        Special Skills Test.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
