---
title: The history of PAO BC
siteURL: http://www.domainname.com
pageURL: /pao-bc-history.html
siteName: PAO BC Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    The history of PAO BC
                                </h3>
                                <p>
                                    Basketball in Greece has not completed even one hundred years of life,
                                    in contrast with Panathinaikos having surpassed a century of life and successes.
                                    But basketball and Panathinaikos marching together on the first day of the orange,
                                    then brown, leather ball has crossed the border and entered Greece.
                                </p>
                                <p>
                                    Head of this immediate relationship was the founder of Panathinaikos, Giorgos Kalafatis.
                                    In 1919 he attended the "Pansymmachikous" at Paris. He asked for the regulations,
                                    learned the game and returned to Greece with the necessary equipment in order to create a division
                                    basketball team, Panathinaikos. The group was established by Apostolos Nikolaidis.
                                    The match Panathinaikos - XANTH in 1922 at "Panathinean Stadium" was the starting point.
                                </p>
                                <p>
                                    The basketball section in the difficult years that followed failed to stand
                                    and flourish. This was something that happened 15 years later. The leaders of that group
                                    were the A. Philip, N. Matzaroglou, E. Frantzeskaki, I. Litsa, P. Dimitrakos,
                                    P. Kampourakis, T. Karagiorgos, E. Karadimos, C. Bofilios, Ph. Papaoikonomou,
                                    P. Polycrates, N. Polycrates, C. Earrings, K. Katrizoglou, Ch. Kateliós.
                                </p>
                                <p>
                                    The basketball team of Panathinaikos from 1937 until today, justifies the verse of
                                    the hymn "club that great, there is no other". Despite the problems during the occupation period
                                    "green" tried through sport to find a short way out from tough reality, as did other
                                    groups. Did not abandon basketball. With the effort to return to normal life,
                                    the sport gained ground and Panathinaikos gained the first title in basketball in 1946.
                                    From then until today, counts 6 European Championships, 34 Greek Championships,
                                    16 Greek Cups and one Intercontinental Cup.
                                </p>
                                <p>
                                    Panathinaikos is destined to collect titles and this is what it gives joy to the millions
                                    of fans around the world. Panathinaikos kit has been worn by players
                                    who wrote and write history in the sport chronicles. The list seems endless, Dominique Wilkins,
                                    Byron Scott, Dino Radja, Tony Delk, Stojko Vranković, Nikos Galis, Panagiotis Giannakis,
                                    Fanis Christodoulou, Željko Rebrača, Dejan Bodiroga, Ontent Katash.
                                </p>
                                <p>
                                    And the big names continue to reach the modern leaders of the group, Frangiskos Alvertis and
                                    now Dimitris Diamantidis or longest played foreign player to the history of the A1 Men,
                                    Mike Batiste. All of them have linked their names with big successes and titles for
                                    "clover". It is certain that success will continue to come and golden pages
                                    will continue to be written, because this is the reson Panathinaikos was founded.
                                </p>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
