---
title: Pricing & FAQ
siteURL: http://www.paobasketball.co.uk
pageURL: /pricing-faq.html
siteName: PAO Basketball Academy London

meta_description: The Official website of Panathinaikos Basketball Academy London
meta_keywords:
fb_description: The Official website of Panathinaikos Basketball Academy London
twitter_description: The Official website of Panathinaikos Basketball Academy London
twitter_user: paolondonba
---

                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Pricing
                                </h3>
                                <p>
                                    Annual membership of the PAO Basketball Academy is as follows
                                </p>
                            </div>

                            <div class="large-12 medium-12 columns">
                                <ul class="pricing-table">
                                    <li class="title">Annual membership</li>
                                    <li class="price">£110</li>
                                    <li class="description">Become part of the academy teams and become part of one of the top clubs in Europe, where basketball culture, values, foundations and entertainment aims to form new a generation of athletes</li>
                                    <li class="bullet-item">1 training Kit</li>
                                    <li class="bullet-item">2 Trainings p/w</li>
                                    <li class="bullet-item">Progress monitoring software access *</li>
                                    <li class="bullet-item">Annual tournaments</li>
                                    <li class="cta-button">
                                        <a class="button hollow togglerTrigger" href="#" title="Join Now" data-toggletarget="mailchimp_form">
                                            Join Now
                                        </a>
                                    </li>
                                </ul>
                                <p>
                                    * The parents of each participant will also receive a username/password to monitor the progress of their children
                                </p>
                            </div>
                        </div>

                        <div class="row contents-row">
                            <div class="large-12 columns">
                                <h3>
                                    FAQ
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.
                                </p>
                                <ul class="accordion" data-accordion role="tablist">
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-1" role="tab" id="faq-section-1-heading" aria-controls="faq-section-1" title="From what age you accept young athletes?">
                                            From what age you accept young athletes?
                                        </a>
                                        <div id="faq-section-1" class="content active" role="tabpanel" aria-labelledby="faq-section-1-heading-heading">
                                            <p>
                                                Younger age athletes are born in 2009 and within the part of the rookies and the older,
                                                are born in 2002 and integrated into youth U-15 section.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-2"  role="tab" id="faq-section-2-heading" aria-controls="faq-section-2" title="Are parents allowed to observe training?">
                                            Are parents allowed to observe training?
                                        </a>
                                        <div id="faq-section-2" class="content" role="tabpanel" aria-labelledby="faq-section-2-heading-heading">
                                            <p>
                                                Yes, you may observe workouts and games but parents should adhere to the academy rules and do
                                                not disturb the conduct of training.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-3" role="tab" id="faq-section-3-heading" aria-controls="faq-section-3" title="Is the training tailored to beginners or advanced athletes?">
                                            Is the training tailored to beginners or advanced athletes?
                                        </a>
                                        <div id="faq-section-3" class="content" role="tabpanel" aria-labelledby="faq-section-3-heading-heading">
                                            <p>
                                                Each team is divided by age and capacity, an assessment for the proper integration of the athlete
                                                to the best fitting team for himself and his teammates takes place.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-4" role="tab" id="faq-section-4-heading" aria-controls="faq-section-4" title="How can I register?">
                                            How can I register?
                                        </a>
                                        <div id="faq-section-4" class="content" role="tabpanel" aria-labelledby="faq-section-4-heading-heading">
                                            <p>
                                                Before the official registration, each athlete may attend a workout to see up close the facilities,
                                                meet the coach and live the experience of our training. It is enough to have with him a medical
                                                certificate enabling him to take part in training. After the training is completed, an evaluation
                                                by the coach, is given to the parent/guardian aling with the registration form.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-5" role="tab" id="faq-section-5-heading" aria-controls="faq-section-5" title="Where can I buy the clothes of the academy?">
                                            Where can I buy the clothes of the academy?
                                        </a>
                                        <div id="faq-section-5" class="content" role="tabpanel" aria-labelledby="faq-section-5-heading-heading">
                                            <p>
                                                The clothes of the academy are provided for each athlete, however you can purchase
                                                more from the <a href="https://www.paoshop.gr/" target="_blank" title="PAO SHOP">PAO SHOP</a>.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
