---
title: Pricing & FAQ
siteURL: http://www.domainname.com
pageURL: /pricing-faq.html
siteName: PAO BC Academy London

meta_description:
meta_keywords:
fb_description:
twitter_description:
twitter_user: Domain
---
                        <div class="row contents-row spaced-row">
                            <div class="large-12 columns">
                                <h3>
                                    Pricing
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.
                                </p>
                            </div>

                            <div class="large-6 medium-6 columns">
                                <ul class="pricing-table">
                                    <li class="title">Standard</li>
                                    <li class="price">$99.99</li>
                                    <li class="description">An awesome description</li>
                                    <li class="bullet-item">1 Database</li>
                                    <li class="bullet-item">5GB Storage</li>
                                    <li class="bullet-item">20 Users</li>
                                    <li class="cta-button">
                                        <a class="button hollow" href="#">Buy Now</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="large-6 medium-6 columns">
                                <ul class="pricing-table">
                                    <li class="title">Standard</li>
                                    <li class="price">$99.99</li>
                                    <li class="description">An awesome description</li>
                                    <li class="bullet-item">1 Database</li>
                                    <li class="bullet-item">5GB Storage</li>
                                    <li class="bullet-item">20 Users</li>
                                    <li class="cta-button">
                                        <a class="button hollow" href="#">Buy Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row contents-row">
                            <div class="large-12 columns">
                                <h3>
                                    FAQ
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.
                                </p>
                                <ul class="accordion" data-accordion role="tablist">
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-1" role="tab" id="faq-section-1-heading" aria-controls="faq-section-1" title="Section 1">
                                            Section 1
                                        </a>
                                        <div id="faq-section-1" class="content active" role="tabpanel" aria-labelledby="faq-section-1-heading-heading">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-2"  role="tab" id="faq-section-2-heading" aria-controls="faq-section-2" title="Section 2">
                                            Section 2
                                        </a>
                                        <div id="faq-section-2" class="content" role="tabpanel" aria-labelledby="faq-section-2-heading-heading">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="accordion-navigation">
                                        <a href="#faq-section-3" role="tab" id="faq-section-2-heading" aria-controls="faq-section-3" title="Section 3">
                                            Section 3
                                        </a>
                                        <div id="faq-section-3" class="content" role="tabpanel" aria-labelledby="faq-section-2-heading-heading">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                                pariatur.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        {{> welcome-sign-up }}

                        {{> footer-promos }}
