
                        <!--  =======================  -->
                        <!--  === Featured Slider ===  -->
                        <!--  =======================  -->
                        <div class="row contents-row spaced-row featured-content-row">

                            <div class="large-12 columns">
                                <dl class="sub-nav slider-navigation">
                                    <dd>
                                        <a data-orbit-link="philosophy" class="small button">
                                            Philosophy
                                        </a>
                                    </dd>
                                    <dd>
                                        <a data-orbit-link="benefits" class="small button">
                                            Benefits
                                        </a>
                                    </dd>
                                    <dd>
                                        <a data-orbit-link="the-club" class="small button">
                                            The Club
                                        </a>
                                    </dd>
                                </dl>

                                <ul class="featured-content" data-orbit>
                                    <li class="active" data-orbit-slide="philosophy">
                                        <div class="large-12 columns slider-row">
                                            <div class="large-8 columns">
                                                <p>
                                                    <img src="/images/site_assets/pao-bc-family-featured.jpg" alt="Pao BC Family" />
                                                </p>
                                            </div>
                                            <div class="large-4 columns">
                                                <h3>
                                                    Philosophy of the Academy
                                                </h3>
                                                <p>
                                                    Our main objective is to lay the foundations of a new generation of athletes and fans with
                                                    values ​​and inviolable principles. The culture of sports and basketball culture, cooperation and sportsmanship,
                                                    along with the entertainment of our athletes is our non-negotiable objective.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-orbit-slide="benefits">
                                        <div class="large-12 columns slider-row">
                                            <div class="large-8 columns">
                                                <p>
                                                    <img class="thumbnail" src="/images/site_assets/x-box-cup.jpg" alt="X-Box One Cup Highlight" />
                                                </p>
                                            </div>
                                            <div class="large-4 columns">
                                                <h3>
                                                    Explore the Benefits
                                                </h3>
                                                <p>
                                                    Our academies are an inspired unit with specialized coaches and partners for new
                                                    players. Provide a comprehensive program of benefits for our members,
                                                    matching the standards of the main academies around the world, according to the vision of
                                                    Panathinaikos BC.
                                                </p>
                                                <a class="button small hollow" href="/member-benefits.html" title="Full Benefits List">Full Benefits List</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-orbit-slide="the-club">
                                        <div class="large-12 columns slider-row">
                                            <div class="large-8 columns">
                                                <p>
                                                    <img class="thumbnail" src="/images/site_assets/pao-logo-kit.jpg" alt="Pao BC Kit logo" />
                                                </p>
                                            </div>
                                            <div class="large-4 columns">
                                                <h3>
                                                    Panathinaikos BC History
                                                </h3>
                                                <p>
                                                    Panathinaikos is destined to collect titles and this is what it gives joy to the millions
                                                    of fans around the world. As great players link their names with Panathinaikos BC success will continue
                                                    to come and golden pages will continue to be written in the clubs history.
                                                </p>
                                                <a class="button small hollow" href="/pao-bc-history.html" title="Club History Overview" >Club History Overview</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
