            <p class="footer-links">
                <a href="/index.html" {{#is basename "index"}} class="active"{{/is}} title="Home">
                    <span>Home</span>
                </a>
                <a href="/about-academy.html" {{#is basename "about-academy"}} class="active"{{/is}} title="The Academy">
                    <span>The Academy</span>
                </a>
                <a href="/facilities.html" {{#is basename "facilities"}} class="active"{{/is}} title="Facilities">
                    <span>Facilities</span>
                </a>
                <a href="/coaching.html" {{#is basename "coaching"}} class="active"{{/is}} title="Coaches">
                    <span>Coaches</span>
                </a>
                <a href="/pricing-faq.html" {{#is basename "pricing-faq"}} class="active"{{/is}} title="Pricing">
                    <span>Pricing</span>
                </a>
                <a href="/map.html" {{#is basename "map"}} class="active"{{/is}} title="Find Us">
                    <span>Find Us</span>
                </a>
                <a href="#" class="in-menu-trigger togglerTrigger" data-toggletarget="mailchimp_form" title="Join Now!">
                    <span>Join Now!</span>
                </a>
            </p>
