                    <div id="learn-more-row" class="row contents-row">
                        <div class="large-12 columns">
                            <h3>
                                We invite you to become part of Panathinakos Basketball family by joining PAO BC Academy!
                            </h3>
                            <p>
                                We believe that sport, particularly basketball, is an opportunity for relationship building.
                                Through basketball, children learn to compete in healthy conditions, where victory and defeat
                                are part of the game and acquire values ​​and principles that will provide supplies, not only on
                                their way to the basket, but also more generally in their lives.
                            </p>
                            <p>
                                Not certain that our Basketball Academy is right for you? Then feel free to check out more
                                information regarding the Academy or contact our staff that will delightfully assist you and
                                answer any enquiries you may have.
                            </p>
                            <div class="row spaced-row" data-equalizer data-equalizer-mq="large-up">
                                <div class="large-4 medium-6 columns">
                                    <div class="panel" data-equalizer-watch>
                                        <h4><a href="/facilities.html" title="Facilities">Facilities & Equipment</a></h4>
                                        <p>
                                            <img src="/images/site_assets/facilities.jpg" alt="Indoor basketball court" />
                                        </p>
                                        <p>
                                            The indoor basketball court is fully equipped and designed to provide members
                                            of the academy safety and comfort in their day to day workouts while all required
                                            equipment is provided by the Academy.
                                        </p>
                                        <a class="button small" href="/facilities.html" title="Learn More">Learn More</a>
                                    </div>
                                </div>
                                <div class="large-4 medium-6 columns">
                                    <div class="panel" data-equalizer-watch>
                                        <h4><a href="/coaching.html" title="">Coaching & Tournaments</a></h4>
                                        <p>
                                            <img src="/images/site_assets/pao-bc-youth-group.jpg" alt="Experienced coaching team" />
                                        </p>
                                        <p>
                                            Experienced coaching team, specialized in infrastructure segments.
                                            Training under the auspices of the coaches of Panathinaikos men's team & opportunity
                                            to participate in international tournaments of PAO BC World Academy.
                                        </p>
                                        <a class="button small" href="/coaching.html" title="Learn More">Learn More</a>
                                    </div>
                                </div>
                                <div class="large-4 medium-12 columns">
                                    <div class="panel" data-equalizer-watch>
                                        <h4><a href="/about-academy.html" title="Why PAO BC Academy?">Why PAO BC Academy?</a></h4>
                                        <p>
                                            <img src="/images/site_assets/pao-euroleague-champions.jpg" alt="One of the top clubs in Europe" />
                                        </p>
                                        <p>
                                            As one of the top clubs in Europe and wanting to secure our future,
                                            we are investing in the development of new talent with the best conditions
                                            to show off their talent, learn solid foundations of the game and love basketball.
                                        </p>
                                        <a class="button small" href="/about-academy.html" title="Learn More">Learn More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
