
                        <!--  ==============  -->
                        <!--  === Footer ===  -->
                        <!--  ==============  -->
                        <footer>

                            <div class="row footer">
                                <div class="small-12 medium-6 large-5 columns">
                                    <h4 class="logo">
                                        PAO BASKETBALL ACADEMY
                                    </h4>

                                    {{>footer-nav}}

                                    <p class="copywrite hide-for-small">Copyrights &copy; 2016</p>
                                </div>

                                <div class="small-12 medium-6 large-4 columns">
                                    <ul class="contact">
                                        <li><p><i class="fi-marker"></i><a href="/map.html" target="_blank" title="1234 London, London, E14 1DD">1234 London,<br />London, E14 1DD</a></p></li>
                                        <li><p><i class="fi-telephone"></i><a href="tel:+44-111-111-111" target="_blank" title="Call us: +44-111-111-111">Call us:<br />+44-111-111-111</a></p></li>
                                        <li><p><i class="fi-mail"></i><a href="mailto:contact@domain.com" target="_blank" title="Email us: contact@domain.com">Email us:<br />contact@domain.com</a></p></li>
                                    </ul>
                                </div>

                                <div class="small-12 medium-12 large-3 columns">
                                    <p class="about hide-for-small">Academy's Philosophy</p>
                                    <p class="about subheader hide-for-small">
                                        The culture of sports & basketball culture, cooperation & sportsmanship,
                                        along with the entertainment of our athletes is our non-negotiable objective.
                                    </p>
                                    <ul class="inline-list social">
                                        <a href="#" target="_blank" title="facebook"><i class="fi-social-facebook"></i></a>
                                        <a href="#" target="_blank" title="twitter"><i class="fi-social-twitter"></i></a>
                                        <a href="#" target="_blank" title="twitter"><i class="fi-social-youtube"></i></a>
                                    </ul>
                                    <p class="copywrite show-for-small">Copyrights &copy; 2016</p>
                                </div>
                            </div>

                        </footer>
