
                        <!--  ==============  -->
                        <!--  === Footer ===  -->
                        <!--  ==============  -->
                        <footer>

                            <div class="row footer">
                                <div class="small-12 medium-6 large-5 columns">
                                    <h4 class="logo">
                                        PAO BASKETBALL ACADEMY
                                    </h4>

                                    {{>footer-nav}}

                                    <ul class="inline-list social show-for-medium-down">
                                        <a href="https://www.facebook.com/Pao-Basketball-Academy-London-959880137381072" target="_blank" title="facebook"><i class="fi-social-facebook"></i></a>
                                        <a href="https://twitter.com/paolondonba" target="_blank" title="twitter"><i class="fi-social-twitter"></i></a>
                                        <a href="https://www.youtube.com/channel/UCK5qbEQsjoKXZhBxzXvuZJA" target="_blank" title="youtube"><i class="fi-social-youtube"></i></a>
                                        <a href="https://uk.linkedin.com/in/pao-basketball-academy-london-3a0722115" target="_blank" title="linkedin"><i class="fi-social-linkedin"></i></a>
                                    </ul>

                                    <p class="copywrite hide-for-medium-down">
                                        Copyrights &copy; 2016<br/>
                                        Created by <a href="http://www.bardis.info" title="George Bardis" target="_blank">George Bardis</a>
                                    </p>
                                </div>

                                <div class="small-12 medium-6 large-4 columns">
                                    <ul class="contact">
                                        <li><p><i class="fi-marker"></i><a href="/map.html" target="_blank" title="1234 London, London, E14 1DD">1234 London,<br />London, E14 1DD</a></p></li>
                                        <li><p><i class="fi-telephone"></i><a href="tel:+44-111-111-111" target="_blank" title="Call us: +44-111-111-111">Call us:<br />+44-111-111-111</a></p></li>
                                        <li><p><i class="fi-mail"></i><a href="mailto:info@paobasketball.co.uk" target="_blank" title="Email us: info@paobasketball.co.uk">Email us:<br />info@paobasketball.co.uk</a></p></li>
                                    </ul>
                                </div>

                                <div class="small-12 medium-12 large-3 columns">
                                    <p class="about hide-for-medium-down">Academy's Philosophy</p>
                                    <p class="about subheader hide-for-medium-down">
                                        The culture of sports & basketball culture, cooperation & sportsmanship,
                                        along with the entertainment of our athletes is our non-negotiable objective.
                                    </p>
                                    <ul class="inline-list social hide-for-medium-down">
                                        <a href="https://www.facebook.com/Pao-Basketball-Academy-London-959880137381072" target="_blank" title="facebook"><i class="fi-social-facebook"></i></a>
                                        <a href="https://twitter.com/paolondonba" target="_blank" title="twitter"><i class="fi-social-twitter"></i></a>
                                        <a href="https://www.youtube.com/channel/UCK5qbEQsjoKXZhBxzXvuZJA" target="_blank" title="youtube"><i class="fi-social-youtube"></i></a>
                                        <a href="https://uk.linkedin.com/in/pao-basketball-academy-london-3a0722115" target="_blank" title="linkedin"><i class="fi-social-linkedin"></i></a>
                                    </ul>
                                    <p class="copywrite show-for-medium-down">
                                        Copyrights &copy; 2016<br/>
                                        Created by <a href="http://www.bardis.info" title="George Bardis" target="_blank">George Bardis</a>
                                    </p>
                                </div>
                            </div>

                        </footer>
