
                                    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [small,medium,large]">
                                        <div id="logo">
                                            <h1 class="logo">
                                                <a href="/index.html" title="{{ page.siteName }}">
                                                    <img src="/images/site_assets/site-logo.png" alt="{{ page.siteName }}" />
                                                    <span class="inv">{{ page.title }}</span>
                                                </a>
                                            </h1>
                                        </div>

                                        <section class="top-bar-section hide-for-medium-down right">
                                            <ul class="menu left">
                                                <li {{#is basename "index"}} class="active"{{/is}}>
                                                    <a href="/index.html" title=""><span>Home</span></a>
                                                </li>
                                                <li{{#is basename "about-academy"}} class="active"{{/is}}>
                                                    <a href="/about-academy.html" title="The Academy"><span>The Academy</span></a>
                                                </li>
                                                <li{{#is basename "facilities"}} class="active"{{/is}}>
                                                    <a href="/facilities.html" title="Facilities"><span>Facilities</span></a>
                                                </li>
                                                <li{{#is basename "coaching"}} class="active"{{/is}}>
                                                    <a href="/coaching.html" title="Coaches"><span>Coaches</span></a>
                                                </li>
                                                <li{{#is basename "pricing-faq"}} class="active"{{/is}}>
                                                    <a href="/pricing-faq.html" title="Pricing"><span>Pricing</span></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="button togglerTrigger" data-toggletarget="mailchimp_form" title="Join Now!"><span>Join Now!</span></a>
                                                </li>
                                            </ul>
                                        </section>

                                        <ul class="title-area show-for-medium-down right">
                                            <li class="name"></li>
                                            <li class="toggle-topbar menu-icon show-for-medium-down">
                                                <a class="left-off-canvas-toggle menu-icon">
                                                    <span>Menu</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <h3 class="title-copy top-bar-section right">
                                            <span>The Official website of </span>Panathinaikos Basketball Academy London
                                        </h3>
                                    </nav>
