
                                    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: [small,medium,large]">
                                        <div id="logo">
                                            <h1 class="logo">
                                                <a href="/" title="{{ page.siteName }}">
                                                    <img src="/images/site_assets/site-logo.png" alt="{{ page.siteName }}" />
                                                    <span class="inv">{{ page.title }}</span>
                                                </a>
                                            </h1>
                                        </div>

                                        <section class="top-bar-section hide-for-medium-down right">
                                            <ul class="menu left">
                                                <li class="item1 level0 active current">
                                                    <a href="/" title=""><span>Home</span></a>
                                                </li>
                                                <li class="item2 level0">
                                                    <a href="#" title=""><span>List</span></a>
                                                </li>
                                                <li class="item3 level0">
                                                    <a href="#" title=""><span>Contact Us</span></a>
                                                </li>
                                                <li class="item4 level0">
                                                    <a href="#" title="Join Now!"><span>Join Now!</span></a>
                                                </li>
                                            </ul>
                                        </section>

                                        <ul class="title-area show-for-medium-down right">
                                            <li class="name"></li>
                                            <li class="toggle-topbar menu-icon show-for-medium-down">
                                                <a class="left-off-canvas-toggle menu-icon">
                                                    <span>Menu</span>
                                                </a>
                                            </li>
                                        </ul>

                                        <h3 class="title-copy top-bar-section right">
                                            <span>The Official website of </span>Panathinaikos Basketball Academy London
                                        </h3>
                                    </nav>
