                        <!-- Off Canvas Menu -->
                        <aside class="left-off-canvas-menu">
                            <ul class="off-canvas-list">
                                <li><label>Menu</label></li>
                                <li>
                                    <a href="/" title="Home"><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="/" title=""><span>list</span></a>
                                </li>
                                <li>
                                    <a href="/" title=""><span>Contact Us</span></a>
                                </li>
                                <li>
                                    <a class="exit-off-canvas" href="#" title="Close Menu"><span><i class="fi-x"></i> Close Menu</span></a>
                                </li>
                            </ul>
                        </aside>
