                        <!-- Off Canvas Menu -->
                        <aside class="left-off-canvas-menu">
                            <ul class="off-canvas-list">
                                <li><label>Menu</label></li>
                                <li class="active current">
                                    <a href="/" title=""><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="/about-academy.html" title="The Academy"><span>The Academy</span></a>
                                </li>
                                <li>
                                    <a href="/facilities.html" title="Facilities"><span>Facilities</span></a>
                                </li>
                                <li>
                                    <a href="/coaching.html" title="Coaches"><span>Coaches</span></a>
                                </li>
                                <li>
                                    <a class="exit-off-canvas" href="#" title="Close Menu"><span><i class="fi-x"></i> Close Menu</span></a>
                                </li>
                            </ul>
                        </aside>
