                        <div class="row contents-row">
                            <div class="large-12 columns text-center">
                                <h2>We invite you to become a part of Panathinakos family by joining PAO Basketball Academy!</h2>
                                <p class="lead">
                                    PAO BC World Academy brand new London branch is delighted to announce that applications are open
                                    for children of ages XXXX to join the Academy and become part of one of the top clubs in Europe,
                                    where basketball culture, values, foundations and entertainment aims to form new a generation of athletes.
                                </p>
                                <a class="button togglerTrigger" data-toggletarget="mailchimp_form" title="Register" href="#">Register</a>
                                <a class="button scrollToTrigger" data-scrolltarget="learn-more-row" title="Learn More" href="#">Learn More</a>
                            </div>

                            {{> signup-form }}
                        </div>
